body{
    margin: 0;
    background-image:radial-gradient(rgb(208, 194, 233),rgb(143, 127, 182),rgb(127, 125, 238),rgb(99, 117, 220)) ;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.bg-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.displayStyling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
    height: 50%;
    padding:5%;
    position: absolute;
    top:15rem;
    left: 25%;
    background-color: rgb(201, 205, 209);
    border-radius: 5%;
    transform: rotate(360deg);
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    transition-duration: 4s;
    transition-property: background-image, transform;
}

.text-inputs{
    height:30px;
    width:50%;
}


.check-box{
    margin-top: 2%;
    margin-bottom: 2%;
}

.selectInput{
    height:30px;
    width:50%;
    margin-bottom: 2%;
}

#color-selector{
    margin-bottom: 2%;
}

.submit-button{
    cursor: pointer;
    text-align: center;
    align-self: center;
    width: 20%;
    height: 3rem;
    background-image: linear-gradient(to top, rgb(10, 90, 130),rgba(5, 64, 81, 0.533),rgba(60, 123, 140, 0.267));
    border:none;
    padding: 1%;
    border-radius: 20px;
    color:#ffffff;
    font-weight: bold;
}

.submit-button:hover{
    background-image:radial-gradient(rgb(208, 194, 233),rgb(143, 127, 182),rgb(127, 125, 238),rgb(99, 117, 220)) ;
    color:black;
}

.showError{
    display: block;
    color:red;
    margin-bottom: 2%;
}

.hideformElement{
    display: none;
}

.modalDisplay{
    display: none;
}

.closeButton{
    font-size: 2rem;
    color:gray;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    border: 2px solid gray;
    border-radius: 5px;
}
.closeButton:hover{
    transform: translateX(4px);
}

modal p{
    font-size: 1.2rem;
    font-weight: bold;
}
#modalTerms{
    text-decoration: underline;
}

.displayStylingModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 30%;
    padding:8% 5%;
    position: absolute;
    top:17rem;
    right: 35rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    transform: rotate(360deg);
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    transition-duration: 4s;
    transition-property: background-image, transform; 
}